;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Nov  1 17:09:37 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq extended-command-history nil)
(setq file-name-history nil)
(setq grep-history '("grep -nH -e "))
(setq compile-history nil)
(setq minibuffer-history nil)
(setq query-replace-history '("ARGoS3" "Argos3" "argos3" "argos" "core" "core/common" "argos/core/" "argos/" "argos" "argos2" "argos" "argos3" "ARGOS_" "ARGOS3_" "" "inline " "CXX_" "C_" "argos" "argos3" "   /****************************************/" "/****************************************/" "" "./" "TTypeMap" "TCreatorMap" "GetTypeMap" "GetCreatorMap" "plugin" "user"))
(setq read-expression-history nil)
(setq regexp-history nil)
(setq regexp-search-ring nil)
(setq search-ring '("dynamic li" "led" "data" "clone" "visito"))
(setq shell-command-history nil)
(setq tags-file-name nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/simulator.cpp"
  "simulator.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  3403
  '(1408 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space.h"
  "space.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(750 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/argos3/core/simulator/entity/embodied_entity.h"
  "embodied_entity.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  552
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/datatypes/any.h"
  "any.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1740
  '(1735 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos2/common/utility/datatypes/any.h"
  "any.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  3399
  '(1033 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/CMakeLists.txt"
  "CMakeLists.txt"
  'cmake-mode
  nil
  1143
  '(1140 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/argos3/core/simulator/entity/entity.h"
  "entity.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  662
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/CMakeLists.txt"
  "CMakeLists.txt"
  'cmake-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/argos_command_line_arg_parser.cpp"
  "argos_command_line_arg_parser.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/physics_engine/physics_engine.cpp"
  "physics_engine.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/physics_engine/physics_engine.h"
  "physics_engine.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/physics_engine/physics_engine_entity.h"
  "physics_engine_entity.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/simulator.h"
  "simulator.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/argos_command_line_arg_parser.h"
  "argos_command_line_arg_parser.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/main.cpp"
  "main.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space_no_threads.h"
  "space_no_threads.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space_multi_thread_scatter_gather.h"
  "space_multi_thread_scatter_gather.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space_no_threads.cpp"
  "space_no_threads.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space_hash_native.h"
  "space_hash_native.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space_multi_thread_scatter_gather.cpp"
  "space_multi_thread_scatter_gather.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space_multi_thread_h_dispatch.h"
  "space_multi_thread_h_dispatch.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space_multi_thread_h_dispatch.cpp"
  "space_multi_thread_h_dispatch.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space_hash.h"
  "space_hash.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/space/space.cpp"
  "space.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/extra/operation.h"
  "operation.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/extra/entity.h"
  "entity.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/simulator/extra/old_main.cpp"
  "old_main.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/control_interface/ci_sensor.h"
  "ci_sensor.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/control_interface/ci_actuator.h"
  "ci_actuator.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/control_interface/ci_robot.h"
  "ci_robot.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/control_interface/ci_robot.cpp"
  "ci_robot.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/control_interface/ci_controller.h"
  "ci_controller.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/plugins/dynamic_loading.cpp"
  "dynamic_loading.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/plugins/factory_impl.h"
  "factory_impl.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/plugins/dynamic_loading.h"
  "dynamic_loading.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/plugins/factory.h"
  "factory.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/string_utilities.cpp"
  "string_utilities.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/command_line_arg_parser.h"
  "command_line_arg_parser.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/memento.h"
  "memento.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/base_configurable_resource.h"
  "base_configurable_resource.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/command_line_arg_parser.cpp"
  "command_line_arg_parser.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/ticpprc.h"
  "ticpprc.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/ticpp.cpp"
  "ticpp.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/tinyxmlerror.cpp"
  "tinyxmlerror.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/tinyxml.h"
  "tinyxml.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/tinyxmlparser.cpp"
  "tinyxmlparser.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/tinystr.h"
  "tinystr.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/tinystr.cpp"
  "tinystr.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/ticpp.h"
  "ticpp.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/tinyxml/tinyxml.cpp"
  "tinyxml.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/argos_configuration.h"
  "argos_configuration.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/configuration/argos_exception.h"
  "argos_exception.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/string_utilities.h"
  "string_utilities.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/logging/argos_log.h"
  "argos_log.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/logging/argos_colored_text.h"
  "argos_colored_text.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/logging/argos_log.cpp"
  "argos_log.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/datatypes/byte_array.h"
  "byte_array.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/datatypes/byte_array.cpp"
  "byte_array.cpp"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/pincy/Fabrica/argos3/src/core/utility/datatypes/datatypes.h"
  "datatypes.h"
  'c++-mode
  '(abbrev-mode doxymacs-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

