Doxyfile_*
argos_post_install.sh
core/.gdbinit
core/argos3_macos_wrapper.sh
core/config.h
macos_uninstall_argos3.sh
plugins/simulator/visualizations/qt-opengl/moc_*
postinst
setup_env.sh
core/*.dylib
plugins/robots/*/*.dylib
plugins/simulator/*/*.dylib
plugins/simulator/*/*/*.dylib
core/*.so
plugins/robots/*/*.so
plugins/simulator/*/*.so
plugins/simulator/*/*/*.so
testing/*.so
testing/*.dylib
testing/test-client
testing/test-grid
testing/test-list
testing/test-range
testing/test-server
